@import url("reset.css");
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700;800&display=swap');


:root {
    --clr-primary: #9BB43C;
    --clr-secondary:#3C8BBF;
    --clr-accent-primary: #306f99;
    --clr-light: rgba(255,255,255, 0.9);
    --clr-dark: #222;

    --fs-h1: 1.8rem;
    --fs-h2: 1.5rem;
    --fs-h3: 1.17rem;

    --fs-400: 1rem;
    --fs-500: 1.125rem;
    --fs-600: 1.25;
    --fs-700: 1.375rem;
    --fs-800: 1.5rem;

    --border-radius : 12px;
    
    --padding-1: .5rem;
    --padding-2: 1rem;
    --padding-3: 1.5rem;
    --padding-4: 2rem;

    --margin-1: .5rem;
    --margin-2: 1rem;
    --margin-3: 1.5rem;
    --margin-4: 2rem;

    --main-container-margin: 3rem;

    --gap-1: .4rem;
    --gap-2: .8rem;

}

html {
    scroll-behavior: smooth;
    font-size: var(--fs-400);
    line-height: 1.5;
}

body {
    font-family: "Open Sans", sans-serif;
}

h1 {
    font-size: var(--fs-h1);
}

h2 {
    font-size: var(--fs-h2);
}

h3 {
    font-size: var(--fs-h3);
}

h1, h2, h3 {
    font-weight: 700;
}

/* Utilities start*/
.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-center {
    text-align: center;
}

.uppercase {
    text-transform: uppercase;
}

.text-highlight {
    color: var(--clr-primary);
}
/* Utilities end */

/* Reusable components. Nav and Footer start */
/* Scroll to top button start */
.scroll-to-top {
    position: fixed;
    cursor: pointer;
    bottom: 10px;
    right: 20px;
    background-color: var(--clr-primary);
    padding: var(--padding-2);
    width: 1rem;
    height: 1rem;
    color: var(--clr-light);
    z-index: 100000;
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
}

.scroll-to-top.active {
    visibility: visible;
    opacity: 1;
}

.scroll-to-top:hover {
    font-size: var(--fs-500);
    opacity: .7;
}
/* Scroll to top button end */

/* Header contact start */
.header-contact {
    color: var(--clr-light);
    background-color: var(--clr-primary);
    flex-direction: column;
    padding: var(--padding-2) 0;
}

.header-contact a {
    color: inherit;
}

.header-contact a:hover {
    color: var(--clr-accent-primary);
}

.header-contact .social {
    gap: 0 var(--gap-1);
}

.header-contact .social-nav a {
    display: block;
    margin-top: var(--margin-1);
}

.header-contact .social-nav i {
    margin-right: var(--margin-1);
}
/* Header contact end */

/* Header logo start */
.header-sticky .logo {
    max-width: 100%;
}

.menu {
    background-color: var(--clr-secondary);
    color: var(--clr-light);
    padding-top: var(--padding-2);
}

.menu-container {
    width: 75%;
}

.menu-container .mobile-menu {
    justify-content: space-around;
    margin-bottom: var(--margin-2);
}

.menu-container .mobile-menu i {
    cursor: pointer;
}

.menu-container .main-nav {
    max-height: 0;
    overflow: hidden;
    flex-direction: column;
    color: var(--clr-light);
    transition: 0.5s ease-in-out;
}

.menu-container .main-nav.showing {
    max-height: 500px;
}

.menu-container .main-nav li {
    width: 100%;
    border-top: 1px solid;
}

.menu-container .main-nav li > a {
    display: block;
    padding: var(--padding-2) 0;
    color: var(--clr-light);
}
.menu-container .main-nav li > a:hover {
    background-color: var(--clr-primary);
}
/* Header logo end */

/* Footer start */
.footer-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: var(--gap-2);
    padding: var(--padding-3);
    background-color: var(--clr-secondary);
    
}

.footer-container, .footer-container a {
    color: var(--clr-light);
}

.footer-container a:hover {
    color: var(--clr-primary);
}

.footer-container h3 {
    margin-bottom: var(--margin-1);
}

.footer-container h3::after {
    display: block;
    content: "";
    width: 30px;
    height: 3px;
    margin-top: var(--margin-1);
    background-color: var(--clr-primary);
}

.link-container .link-container-content p, 
.link-container .link-container-content .footer-nav a {
    margin-top: var(--margin-1);
}

.link-container .link-container-content .footer-nav a {
    display: block;
}

.footer-copy {
    color: var(--clr-light);
    background-color: var(--clr-accent-primary);
    padding: var(--padding-2);
}
/* Footer end */
/* Reusable components. Nav and Footer end */

/* Hero images start */
.hero-image {
    min-height: 20rem;
    padding: 0 var(--padding-3);
    
}
.hero-image.home  {
    background: no-repeat center/cover url(/img/jeunes-pouces-en-lair.jpeg);
}

.hero-image.accomp {
    background: no-repeat center/cover url(/img/groupchat.jpeg);
}

.hero-text {
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    padding: var(--padding-2);
    font-weight: 700;
    background-color: rgba(255, 255, 255, 0.3);
}
/* Hero images ends */

/* Main container start */
.main-container {
    margin: var(--main-container-margin);
}

.main-container section {
    margin-top: var(--margin-4);
}

.slogan {
    font-size: var(--fs-h1);
}

.section-title {
    position: relative;
    text-transform: uppercase;
    margin-bottom: var(--margin-1);
}

.title-bottom {
    max-width: 150px !important;
    display: inline;
    height: 15px;
    vertical-align: middle;
    margin-bottom: var(--margin-2);
}

.section-container {
    margin-top: var(--margin-2);
    border-radius: var(--border-radius);
    box-shadow: 0 0 3px;
}

.section-image img{
    border-top-left-radius: var(--border-radius);
    border-top-right-radius: var(--border-radius);
    min-height: 15rem;
}

.section-content {
    margin: var(--margin-3);
}

.section-vision .section-content, .section-expert .section-content {
    position: relative;
    max-height: 13rem;
    overflow: hidden;
    transition: 0.5s;
}

.section-vision .section-content::before, .section-expert .section-content::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background : linear-gradient(transparent, #fff);
}

.section-container .read-more {
    position: relative;
    padding: var(--padding-1);
    margin: 0 var(--margin-3)  var(--margin-3) var(--margin-3);
    background-color: var(--clr-secondary);
    color: var(--clr-light);
    font-weight: 600;
    transition: 0.5s;
    border: 0;
    border-top: 1px solid;
    border-bottom: 1px solid;
}

.section-container .read-more:hover {
    letter-spacing: 1px;
    background-color: var(--clr-primary);
}

.section-container .read-more::before {
    content: "Lire plus";
    
}

.section-container.active .read-more::before {
    content: "Lire moins";
}

.section-container.active .section-content {
    max-height: 30rem;
}

.section-container.active .section-content::before {
    display: none;
}

/* Main container end */