@import url("reset.css");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700;800&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css");


:root {
    --clr-primary: #9BB43C;
    --clr-secondary:#3C8BBF;
    --clr-accent-primary: #7c9030;
    --clr-accent-secondary: #306f99;
    --clr-light: rgba(255,255,255, 0.9);
    --clr-dark: #222;
    --clr-card: #F6F6F6;

    --fs-h1: 1.8rem;
    --fs-h2: 1.5rem;
    --fs-h3: 1.17rem;

    --fs-400: 1rem;
    --fs-500: 1.125rem;
    --fs-600: 1.25;
    --fs-700: 1.375rem;
    --fs-800: 1.5rem;

    --border-radius : 12px;
    
    --padding-1: .5rem;
    --padding-2: 1rem;
    --padding-3: 1.5rem;
    --padding-4: 2rem;

    --margin-1: .5rem;
    --margin-2: 1rem;
    --margin-3: 1.5rem;
    --margin-4: 2rem;

    --main-container-margin: 3rem;

    --gap-1: .4rem;
    --gap-2: .8rem;

}

html {
    scroll-behavior: smooth;
    font-size: var(--fs-400);
    line-height: 1.5;
}

body {
    font-family: "Open Sans", sans-serif;
}

h1 {
    font-size: var(--fs-h1);
}

h2 {
    font-size: var(--fs-h2);
}

h3 {
    font-size: var(--fs-h3);
}

h1, h2, h3 {
    font-weight: 700;
}

/* Utilities start*/
.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-center {
    text-align: center;
}

.uppercase {
    text-transform: uppercase;
}

.text-highlight {
    color: var(--clr-primary);
}

.margin-top-2 {
    margin-top: var(--margin-2);
}
/* Utilities end */

/* Reusable components. Nav and Footer start */
/* Scroll to top button start */
.scroll-to-top {
    position: fixed;
    cursor: pointer;
    bottom: 10px;
    right: 20px;
    background: linear-gradient(var(--clr-primary), var(--clr-accent-primary));
    padding: var(--padding-2);
    width: 1rem;
    height: 1rem;
    color: var(--clr-light);
    z-index: 100000;
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
}

.scroll-to-top.active {
    visibility: visible;
    opacity: 1;
}

.scroll-to-top:hover {
    font-size: var(--fs-500);
    opacity: .7;
}
/* Scroll to top button end */

/* Header contact start */
.header-contact {
    color: var(--clr-light);
    background-color: var(--clr-primary);
    flex-direction: column;
    padding: var(--padding-2) 0;
}

.header-contact a {
    color: inherit;
}

.header-contact a:hover {
    color: var(--clr-accent-secondary);
}

.header-contact .social {
    gap: 0 var(--gap-1);
}

.header-contact .social-nav a {
    display: block;
    margin-top: var(--margin-1);
}

.header-contact .social-nav i {
    margin-right: var(--margin-1);
}
/* Header contact end */

/* Header logo start */
.header-sticky .logo {
    max-width: 100%;
}

.menu {
    background-color: var(--clr-secondary);
    color: var(--clr-light);
    padding-top: var(--padding-2);
}

.menu-container {
    width: 75%;
}

.menu-container .mobile-menu {
    justify-content: space-around;
    margin-bottom: var(--margin-2);
}

.menu-container .mobile-menu i {
    cursor: pointer;
}

.menu-container .main-nav {
    max-height: 0;
    overflow: hidden;
    flex-direction: column;
    color: var(--clr-light);
    transition: 0.5s ease-in-out;
}

.menu-container .main-nav.showing {
    max-height: 500px;
}

.menu-container .main-nav li {
    width: 100%;
    border-top: 1px solid;
}

.menu-container .main-nav li > a {
    display: block;
    padding: var(--padding-2) 0;
    color: var(--clr-light);
    font-weight: 600;
}
.menu-container .main-nav li > a:hover {
    background-color: var(--clr-primary);
}
/* Header logo end */

/* Footer start */
.footer-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: var(--gap-2);
    padding: var(--padding-3);
    background-color: var(--clr-secondary);
    
}

.footer-container, .footer-container a {
    color: var(--clr-light);
}

.footer-container a:hover {
    color: var(--clr-primary);
}

.footer-container h3 {
    margin-bottom: var(--margin-1);
}

.footer-container h3::after {
    display: block;
    content: "";
    width: 30px;
    height: 3px;
    margin-top: var(--margin-1);
    background-color: var(--clr-primary);
}

.link-container .link-container-content p, 
.link-container .link-container-content .footer-nav a {
    margin-top: var(--margin-1);
}

.link-container .link-container-content .footer-nav a {
    display: block;
}

.footer-copy {
    color: var(--clr-light);
    background-color: var(--clr-accent-secondary);
    padding: var(--padding-2);
}
/* Footer end */
/* Reusable components. Nav and Footer end */

/* Hero images start */
.hero-image {
    position: relative;
    min-height: 20rem;
    padding: 0 var(--padding-3);
    isolation: isolate;
}

.hero-image::before {
    position: absolute;
    content: "";
    inset: 0;
    z-index: -1;
    background-color: #fff;
    opacity: .3;
}

.hero-image.home  {
    background: no-repeat center/cover url(/img/jeunes-pouces-en-lair.jpeg);
}

.hero-image.accomp {
    background: no-repeat center/cover url(/img/groupchat.jpeg);
}

.hero-text {
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    padding: var(--padding-2);
    font-weight: 700;
    background-color: rgba(255, 255, 255, 0.3);
}
/* Hero images ends */

/* Main container start */
.main-container {
    margin: var(--main-container-margin);
}

.main-container section {
    margin-top: var(--margin-4);
}

.slogan {
    font-size: var(--fs-h1);
}

/* Home start */
.section-title {
    position: relative;
    text-transform: uppercase;
    margin-bottom: var(--margin-1);
}

.title-bottom {
    max-width: 150px !important;
    display: inline;
    height: 15px;
    vertical-align: middle;
    margin-bottom: var(--margin-2);
}

.section-vision .section-container,
.section-expert .section-container {
    margin-top: var(--margin-2);
    border-radius: var(--border-radius);
    box-shadow: 0 0 2px var(--clr-dark);
    background-color: var(--clr-card);
}

.read-more {
    position: relative;
    padding: var(--padding-1);
    margin: 0 var(--margin-3)  var(--margin-3) var(--margin-3);
    background-color: var(--clr-secondary);
    color: var(--clr-light);
    font-weight: 600;
    transition: 0.5s;
    border: 0;
    border-top: 1px solid;
    border-bottom: 1px solid;
}

.read-more:hover {
    letter-spacing: 1px;
    background-color: var(--clr-primary);
}

.read-more::before {
    content: "Lire plus";
}

.section-container.active .read-more::before,
.expandable-card.active .read-more::before {
    content: "Lire moins";
}

.section-container.active .section-content {
    max-height: 50rem;
}

.section-container.active .section-content::before {
    display: none;
}

.section-image img {
    border-top-left-radius: var(--border-radius);
    border-top-right-radius: var(--border-radius);
    min-height: 15rem;
}

.section-content {
    margin: var(--margin-3);
}

.section-vision .section-content, .section-expert .section-content {
    position: relative;
    max-height: 13rem;
    overflow: hidden;
    transition: 0.5s;
}

.section-vision .section-content::before, .section-expert .section-content::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background : linear-gradient(transparent, var(--clr-card));
}


.section-vision .section-content .fa-ul,
.section-expert .section-content .fa-ul,
.section-mission .section-content .fa-ul {
    margin-left: var(--margin-4);
}

.section-vision .section-content li .fa-circle-right,
.section-expert .section-content li .fa-circle-right,
.section-mission .section-content li .fa-circle-right {
    font-size: 20px;
    color: var(--clr-primary);
}

.section-vision .section-content li {
    color: var(--clr-light);
    font-weight: 700;
    padding: var(--padding-1);
    background: linear-gradient(var(--clr-primary), var(--clr-accent-primary));
    border-radius: var(--border-radius);
    margin-top: var(--margin-2);
}

.section-vision .section-content li {
    max-width: 18rem;
}
.section-mission .section-content li,
.section-expert .section-content li {
    font-weight: 700;
    padding: var(--padding-1);
    border-radius: var(--border-radius);
    margin-top: var(--margin-2);
}

.section-partner .partner-list,
.section-domain .card-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: var(--gap-2);
    text-align: center;
}

.section-partner .partner-list .card,
.section-domain .card-container .card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid;
    border-radius: var(--border-radius);
    color: var(--clr-light);
}

.section-domain .card-container .card {
    background: linear-gradient(var(--clr-secondary), var(--clr-accent-secondary));
}

.section-domain .card-container .card img {
    width: 5rem;
    height: 5rem;
    margin-top: var(--margin-2);    
}

.section-domain .card-container .card .card-content {
    padding: var(--padding-2);
}

.section-partner .partner-list {
    margin-top: var(--margin-3);
}

.section-partner .partner-list .card {
    min-height: 8rem;
    padding: var(--padding-2);
    box-shadow: 0 0 2px var(--clr-dark);
    background-color: var(--clr-card);
}

.section-partner .partner-list .card img {
    width: 7rem;
    height: auto;
}
/* Home end */

/* Accomp start */

.accomp-nav {
    display: grid;
    grid-template-columns: 1fr;
    gap: var(--gap-1);
    place-items: center;
}

.accomp-nav li {
    width: 100%;
    background-color: var(--clr-secondary);
    border-radius: 20px;
    max-width: 20rem;
}

.accomp-nav li > a {
    display: block;
    color: var(--clr-light);
    padding: var(--padding-1) 0;
    border-radius: 20px;
    font-weight: 600;
    
}

.accomp-nav li > a:hover {
    background-color: var(--clr-primary);
    letter-spacing: 1px;
    transition: 0.5s;
}

.expandable-card {
    border-radius: var(--border-radius);
    box-shadow: 0 0 2px var(--clr-dark);
    background-color: var(--clr-card);
}

.expandable-card .card-image img {
    border-top-left-radius: var(--border-radius);
    border-top-right-radius: var(--border-radius);
    min-height: 15rem;
}

.expandable-card .card-content {
    position: relative;
    max-height: 13rem;
    overflow: hidden;
    transition: 0.5s;
    margin: var(--margin-3);
}

.expandable-card .card-content::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background : linear-gradient(transparent, var(--clr-card));
}

.expandable-card.active .card-content::before {
    display: none;
}

.expandable-card.active .card-content {
    max-height: 100rem;
}

.expandable-card .card-content .fa-ul {
    margin-left: var(--margin-4);
}

.expandable-card .card-content li {
    font-weight: 700;
    padding: var(--padding-1);
    margin-top: var(--margin-2);
}

.expandable-card .card-content li .fa-circle-right {
    font-size: 20px;
    color: var(--clr-primary);
}

/* Accomp end */
/* Main container end */

/* Responsive tablet start */
@media (min-width:750px) {
    html {
        font-size: 18px;
    }

    .header-contact {
        flex-direction: row;
        justify-content: space-around;
    }

    .header-contact .social-nav  {
        display: flex;
        gap: var(--gap-2);
    }

    .header-contact .social-nav a {
        margin: 0;
    }

    .section-image img {
        min-height: 20rem;
    }

    .footer-container,
    .section-domain .card-container,
    .section-partner .partner-list,
    .accomp-nav {
        grid-template-columns: repeat(2, 1fr);
    }
}
/* Responsive tablet end */

/* Responsive screen start */
@media (min-width:950px) {

    body {
        overflow-x: hidden;
    }

    .main-container {
        margin: var(--main-container-margin) 0;
    }

    .slide-left {
        transform: translateX(-50%);
    }

    .slide-right {
        transform: translateX(50%);
    }

    .slide-left, 
    .slide-right {
        opacity: 0;
        transition: 1.5s;  
    }

    .slide-left.appear, 
    .slide-right.appear {
        opacity: 1;
        transform: translateX(0); 
    }

    .header-contact {
        display: none;
    }

    .header-sticky {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: var(--padding-1) var(--padding-2);
        transition: height 1.5s;
    }

    .header-sticky.fixed {
        position: fixed;
        top: 0;
        background-color: #fff;
        width: 100%;
        padding: 0 var(--padding-2);
        height: 4rem;
        z-index: 999;
        animation: header-animation 300ms linear ;
    }

    .header-sticky.fixed .logo img {
        height: 4rem;
        transition: 0.5s;
    }

    .menu {
        background-color: initial;
        padding: 0;
    }

    .menu-container {
        width: initial;
    }

    .menu-container .mobile-menu {
        display: none;
    }

    .menu-container .main-nav {
        max-height: initial;
        overflow: initial;
        flex-direction: row;
        gap: var(--gap-2);
    }

    .menu-container .main-nav li {
        border-top: 0;
    }

    .menu-container .main-nav li > a {
        position: relative;
        display: block;
        padding: 0;
        color: initial;
        font-size: 0.8rem;
        white-space: nowrap;
        padding: 4px 8px;
        transition: 0.5s;
    }

    .menu-container .main-nav li > a.current,
    .menu-container .main-nav li > a:hover {
        color: var(--clr-light);
        background-color: var(--clr-primary);
    }

    .menu-container .main-nav li > a::before,
    .menu-container .main-nav li > a::after {
        content: "";
        position: absolute;
        width: 12px;
        height: 12px;
        border: 3px solid var(--clr-primary);
        transition: 0.5s;
        opacity: 0;
    }

    .menu-container .main-nav li > a::before {
        bottom: 10px;
        left: 10px;
        border-width: 0 0 3px 3px;
    }

    .menu-container .main-nav li > a.current::before,
    .menu-container .main-nav li > a:hover::before {
        bottom: -5px;
        left: -5px;
        opacity: 1;
    }

    
    .menu-container .main-nav li > a::after {
        top: 10px;
        right: 10px;
        border-width: 3px 3px 0 0;
    }

    .menu-container .main-nav li > a.current::after,
    .menu-container .main-nav li > a:hover::after {
        top: -5px;
        right: -5px;
        opacity: 1;
    }

    
    .footer-container,
    .accomp-nav {
        grid-template-columns: repeat(4, 1fr);  
    }

    .footer-container {
        padding: var(--padding-4);
    }

    .footer-copy {
        text-align: left;
        color: var(--clr-light);
        background-color: var(--clr-accent-secondary);
    }

    .hero-image {
        min-height: 25rem;
    }

    .slogan {
        margin-top: var(--margin-3);
    }

    .section-domain,
    .section-mission,
    .section-partner,
    .accomp-nav {
        padding: 0 var(--main-container-margin);
    }

    .section-domain {
        padding-top: var(--padding-3);
        padding-bottom: var(--padding-3);
    }

    .section-expert .section-container{
        flex-direction: row-reverse;
        background-color: initial;
    }

    .section-image img {
        min-height: 100%;
        width: 70rem;
        border-radius: 0;
    }

    .section-vision .section-container,
    .section-expert .section-container {
        position: relative;
        display: flex;
        border-radius: 0;
        box-shadow: none;
        padding: var(--padding-4);
    }

   

    .section-vision .section-content::before,
    .section-expert .section-content::before {
        content: url("/img/deco.png");
        display: block;
        background: none;
        width: 15rem;
        height: 14rem;
        bottom: 2rem;
        z-index: -2;
    }

    .section-vision .section-content::before {
        right: 0;
        left: initial;
    }

    .section-expert .section-content::before {
        transform: scaleX(-1);
        left: 0;
    }

    .section-vision .section-content::after,
    .section-expert .section-content::after {
        content: "";
        position: absolute;
        display: block;
        width: 15rem;
        height: 14rem;
        background-color: rgba(246,246,246, 0.3);
        bottom: 0;
        z-index: -1;
    }

    .section-vision .section-content::after {
        right: 0;
    }

    .section-expert .section-content::after {
        left: 0;
    }

    .section-vision .section-content, 
    .section-expert .section-content {
        max-height: initial;
        isolation: isolate;
    }

    .section-vision .section-content .fa-ul {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .section-vision .section-container .read-more,
    .section-expert .section-container .read-more {
        display: none;
    }

    .section-domain {
        background-color: var(--clr-card);
    }

    .section-domain .card-container,
    .section-partner .partner-list {
        grid-template-columns: repeat(3, 1fr);
    }

}

@keyframes header-animation {
    
    0% {
        height: 0;
    }

    100% {
        height: 4rem;
    }

}



/* Responsive screen end */