@import url("reset.css");
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700;800&display=swap');


:root {
    --clr-primary: #9BB43C;
    --clr-secondary:#3C8BBF;
    --clr-accent-primary: #306f99;
    --clr-light: #fffbf6;
    --clr-dark: #222;

    --fs-h1: 1.8rem;
    --fs-h2: 1.5rem;
    --fs-h3: 1.17rem;

    --fs-400: 1rem;
    --fs-500: 1.125rem;
    --fs-600: 1.25;
    --fs-700: 1.375rem;
    --fs-800: 1.5rem;

    --border-radius : 15px;
    
    --padding-1: .5rem;
    --padding-2: 1rem;
    --padding-3: 1.5rem;
    --margin-1: .5rem;
    --margin-2: 1rem;
    --margin-3: 1.5rem;

    --main-padding: 3rem;

    --gap-1: .4rem;
    --gap-2: .8rem;

}

html {
    scroll-behavior: smooth;
    font-size: var(--fs-400);
    line-height: 1.5;
}

body {
    font-family: "Open Sans", sans-serif;
}

main {
    padding: 0 var(--main-padding);
}

h1 {
    font-size: var(--fs-h1);
}

h2 {
    font-size: var(--fs-h2);
}

h3 {
    font-size: var(--fs-h3);
}

/* Utilities start*/
.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-center {
    text-align: center;
}

.uppercase {
    text-transform: uppercase;
}
/* Utilities end */

/* Reusable components. Nav and Footer start */
/* Scroll to top button start */
.scroll-to-top {
    position: fixed;
    cursor: pointer;
    bottom: 10px;
    right: 20px;
    background-color: var(--clr-primary);
    padding: var(--padding-2);
    width: 1rem;
    height: 1rem;
    color: var(--clr-light);
    z-index: 100000;
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
}

.scroll-to-top.active {
    visibility: visible;
    opacity: 1;
}

.scroll-to-top:hover {
    font-size: var(--fs-500);
    opacity: .7;
}
/* Scroll to top button end */

/* Header contact start */
.header-contact {
    color: var(--clr-light);
    background-color: var(--clr-primary);
    flex-direction: column;
    padding: var(--padding-2) 0;
}

.header-contact a {
    color: inherit;
}

.header-contact a:hover {
    color: var(--clr-accent-primary);
}

.header-contact .social {
    gap: 0 var(--gap-1);
}

.header-contact .social-nav a {
    display: block;
    margin-top: var(--margin-1);
}

.header-contact .social-nav i {
    margin-right: var(--margin-1);
}
/* Header contact end */

/* Header logo start */
.header-sticky .logo {
    max-width: 100%;
}

.menu {
    background-color: var(--clr-secondary);
    color: var(--clr-light);
    padding-top: var(--padding-2);
}

.menu-container {
    width: 75%;
}

.menu-container .mobile-menu {
    justify-content: space-around;
    margin-bottom: var(--margin-2);
}

.menu-container .mobile-menu i {
    cursor: pointer;
}

.menu-container .main-nav {
    max-height: 0;
    overflow: hidden;
    flex-direction: column;
    color: var(--clr-light);
    transition: 0.5s ease-in-out;
}

.menu-container .main-nav.showing {
    max-height: 500px;
}

.menu-container .main-nav li {
    width: 100%;
    border-top: 1px solid;
}

.menu-container .main-nav li > a {
    display: block;
    padding: var(--padding-2) 0;
    color: var(--clr-light);
}
.menu-container .main-nav li > a:hover {
    background-color: var(--clr-primary);
}
/* Header logo end */

/* Footer start */
.footer-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: var(--gap-2);
    padding: var(--padding-3);
    background-color: var(--clr-secondary);
    
}

.footer-container, .footer-container a {
    color: var(--clr-light);
}

.footer-container a:hover {
    color: var(--clr-primary);
}

.footer-container h3 {
    font-weight: 700;
    margin-bottom: var(--margin-1);
}

.footer-container h3::after {
    display: block;
    content: "";
    width: 30px;
    height: 3px;
    margin-top: var(--margin-1);
    background-color: var(--clr-primary);
}

.link-container .link-container-content p, 
.link-container .link-container-content .footer-nav a {
    margin-top: var(--margin-1);
}

.link-container .link-container-content .footer-nav a {
    display: block;
}

.footer-copy {
    color: var(--clr-light);
    background-color: var(--clr-accent-primary);
    padding: var(--padding-2);
}
/* Footer end */
/* Reusable components. Nav and Footer end */

/* Hero images start */
.hero-image {
    min-height: 20rem;
    padding: 0 var(--padding-3);
    
}
.hero-image.home  {
    background: no-repeat center/cover url(/img/jeunes-pouces-en-lair.jpeg);
}

.hero-image.accomp {
    background: no-repeat center/cover url(/img/groupchat.jpeg);
}

.hero-text {
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    padding: var(--padding-2);
    font-weight: 700;
    background-color: rgba(255, 255, 255, 0.3);
}